<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="https://cdn.autodesk.io/favicon.ico" />
  <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.css" />
  <!-- <link rel="stylesheet" href="./global.css" /> -->
  <link rel="stylesheet" type="text/css" href="/css/w2ui-1.4.min.css" />
  <link href="/css/main.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.7/jstree.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.7/themes/default/style.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<link rel="stylesheet" href="http://cdn.jsdelivr.net/gh/autodesk-forge/forge-extensions/public/extensions/DrawToolExtension/contents/main.css">
<script src="http://cdn.jsdelivr.net/gh/autodesk-forge/forge-extensions/public/extensions/DrawToolExtension/contents/main.js"></script>
  <!-- jQuery for DOM manipualtion -->
  <!-- <script src="js/libraries/jquery.min.js"></script> -->
  <script src="/extensions/extensionloader.js"></script>

  <script src="/extensions/XLSExtension/contents/ForgeXLS.js"></script>

  <script src="/extensions/XLSExtension/contents/libraries/Blob.js"></script> <!-- https://github.com/eligrey/Blob.js -->
  <script src="/extensions/XLSExtension/contents/libraries/FileSaver.min.js"></script> <!-- https://github.com/eligrey/FileSaver.js -->
  <script src="/extensions/XLSExtension/contents/libraries/xlsx.core.min.js"></script>
  <script src="/extensions/XLSExtension/contents/libraries/xlsx.core.js"></script>

  <!-- https://github.com/SheetJS/js-xlsx -->
  <!-- Notification ballons and clipboard util -->
  <script src="/extensions/XLSExtension/contents/libraries/notify.min.js"></script>
  <script src="/extensions/XLSExtension/contents/libraries/clipboard.min.js"></script>
  <!-- <script src="/js/ApsTree.js"></script> -->
  <script src="/js/ApsViewer.js"></script>
  <link href="/extensions/extensionloader.css" rel="stylesheet" />
  <link href="/extensions/XLSExtension/contents/ForgeXLS.js" rel="stylesheet" />
  <link href="/extensions/XLSExtension/contents/main.css" rel="stylesheet" />
  <link href="/extensions/XLSExtension/contents/modeldata.js" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <title> Construction Modal</title>

</head>

<body>


<!-- ---------- -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav left">
        <li>
          <a href="http://developer.autodesk.com" target="_blank">
            <img alt="Autodesk Platform Services" src="https://cdn.autodesk.io/logo/black/stacked.png" height="20">
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/admin/dashboard" target="_blank">
            <img alt="Autodesk Platform Services" src="/assets/img/logo.png" height="25">
          </a>
        </li>
      </ul>

    </div>
  </nav>